body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 24.775px;
  font-weight: 700;
}


.mainContainer {
  width: 100%;
  line-height: 16px;
  padding-left: 68px;
  padding-right: 68px;
}

.menuGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  padding: 0 8px;
  margin: 15px 0;
}

.menuGroupGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 16px;
}

.menuGroupDescription {
  padding: 10px;
}

.itemContainer {
  border-color: rgb(211,211,211);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  padding: 16px 24px;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
 
}
